.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    z-index: 2;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    overflow: hidden;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.dropdown-content p,
.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.dropbtn {
    margin-left: 20px;
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropbtnN {
    color: #007BFF;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.dropbtn img,
.dropbtnN img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dropdown-content p:hover,
.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #303030;
}

.dropbtn,
.dropdown-content a {
    margin: 0;
}

.filter-form-container {
    display: none;
}

.filter-form-container.show {
    display: block;
}

.filter-form-container form div {
    margin-bottom: 10px;
}

.filter-form-container form label {
    display: block;
    margin-bottom: 5px;
}

.filter-form-container form input,
.filter-form-container form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-form-container form button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form-container form button:hover {
    background-color: #0056b3;
}
