/* Dropdown menu container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd6d6;
    min-width: 160px; /* Adjusted width to better fit form */
    z-index: 2; /* Ensure dropdown is in front */
    left: 50%; /* Align to the left edge of the button */
    border-radius: 5px; /* Optional: Add border radius */
    transform: translateX(-50%); /* Adjust position to center */
}

.dropdown-content p, .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block; /* Ensure each notification starts on a new line */
    padding: 10px 20px;
}

/* Style the dropdown button */
.dropbtn {
    margin-left: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtnN {
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn img, .dropbtnN img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ccc; /* Optional: add a hover effect for the dropdown links */
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3c3f41;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3c3f41;
}

/* Removed the gap from the left side of the dropdown*/
.dropbtn, .dropdown-content a {
    margin: 0;
}





/* Initially hide filter form */
.filter-form-container {
    display: none;
}

/* Show filter form when it has class 'show' */
.filter-form-container.show {
    display: block;
}

/* Additional form styling for better layout */
.filter-form-container form div {
    margin-bottom: 10px;
}

.filter-form-container form label {
    display: block;
    margin-bottom: 5px;
}

.filter-form-container form input,
.filter-form-container form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.filter-form-container form button {
    margin-top: 10px;
}
